  <!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/prateek.gupta.31149359" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="live:prateekg.9501" target="_blank">
        <i class="fab fa-skype mr-3"></i>
      </a>

      <a href="https://www.linkedin.com/in/prateek-gupta-6057a2a3/" target="_blank">
        <i class="fab fa-linkedin mr-3"></i>
      </a>

      <a href="mailto:prateekg.9501@gmail.com" target="_blank">
        <i class="fab fa-google  mr-3"></i>
      </a>

      <a href="https://github.com/Prat9501/django-ecommerce" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>

    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2020 Copyright:
      <a href="#" target="_blank">Gupta's</a>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->